/*
CSS Document  

For:
Date:
Created By: Zack Davis
Website: 2721west.com


Colors for Site: 
Light Blue: #74A9D3
Yellow: #D0CA2B

*/

form {
	
}

fieldset {
	
}

legend {
		
}


fieldset p {
	clear:both;
   	padding:10px;
}

input, select {
	background: #000;
    border: 1px solid #ddd;
	color: #FFF;
    padding: 5px;
    width: 200px;
	float:left;
}

textarea {
	width:250px;
	border: 1px solid #ddd;
	color: #FFF;
    padding: 5px;	
}

label{
	width:160px;
    float:left;
    text-align:right;
    line-height:26px;
    color:#666;
    font-weight:bold;
	margin-right:15px;
}

button {
	border:none;
	border-radius: 5px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    clear:both;
    padding: 7px 10px;
   	font-weight:bold;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-size:13px;
    background:#417197;
	margin-left:180px;
}

.button:hover {
	 background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;	
}

.pot {
	position:absolute;
	left:-999px;
	top:-999px;	
}


.newsletterSignup {
	background:url(../images/modules/newsletter_signup.jpg)	top left no-repeat;
	width:342px;
	height:227px;
}
	.newsletterSignup h4 {text-indent:-9999px;}
	.newsletterSignup p {color:#000; font-weight:bold; width:320px; margin-left:20px;}
	.newsletterSignup label {display:none}
	.newsletterSignup input {margin-top:40px; margin-left:12px; background:#000; color:#FFF; border:0px solid black; float:left; clear:none;}
	.newsletterSignup button { background:none; text-indent:-9999px; float:right; margin-top:-30px; width:60px; margin-right:15px;}
	.newsletterSignup p.message {color:#641D1D;  padding:2px 0; margin-top:0; }


/* Contact Form */

#sendEmail {
}

#sendEmail label {
	color:#FFF;	
}

#sendEmail input, #sendEmail textarea{
	background:url(../images/input_background.jpg) top left repeat-x #494748;
	border:none; 
	color:#FFF;
}

#sendEmail .error {
	text-align:center;	
}


label.error {
	position:absolute;
	text-align:left;
	line-height:16px;
	width:250px;
	color:#FFF !important;
	padding:4px;
	background:#417197;
	margin-left:5px;
}