/*
CSS Document -All Classes 

For: Cadence General Contracting Services LLC.
Date: 02/17/2011
Created By: Zack Davis
Website: Ocotopodamedia.com


Colors for Site: 
Light Blue: #74A9D3
Yellow: #D0CA2B

*/

#siteWrapper {
	width:960px;
	margin:auto;	
}

#header {margin-top:20px;}
#navigation {margin-top:40px; clear:both; background:url(../images/horizontal_border.jpg) bottom left repeat-x; padding-bottom:10px;}
	#navigation ul {position:relative; top:10px;}
	#navigation ul li { float:left; list-style:none;}
	#navigation ul.off li{margin-right:30px;}
		#navigation ul li a {font-family:'Franchise', Verdana, Geneva, sans-serif; font-size:26px; color:#FFF; text-indent:-9999px; height:53px; display:block; }
		

#mainContent {
	clear:both;
	padding:10px 0px 30px 0px;
	margin-top:20px;
}

#twoColumns {
	clear:both;
}


#rightCol {
	width:536px;
	margin-right:10px;
	float:left;	
	background:url(../images/vertical_border.jpg) repeat-y;
	background-position:20px 0;
	padding-left:35px;
	margin-bottom:30px;
}




#leftCol {
	width:338px;
	float:left;
	padding-left:20px;
	margin-bottom:30px;	
}

#projectSidebar {
	float:left;
	width:190px;
	margin-right:20px;
}

#projectListing {
	float:left;
	width:572px;
	margin-left:40px;	
}

#footer {
	background:url(../images/horizontal_border.jpg) top left repeat-x;
	margin-top:10px;
	clear:both;	
	padding-top:10px;
}
