/*
CSS Document -All Classes 

For: Cadence General Contracting Services LLC.
Date: 02/17/2011
Created By: Zack Davis
Website: Ocotopodamedia.com


Colors for Site: 
Light Blue: #74A9D3
Yellow: #D0CA2B

*/
/* ======== Header Information ========= */

.logo {
	display:block;
	background:url(../images/logo.png) top left no-repeat;
	width:328px;
	height:98px;
	float:left;
	text-indent:-9999px;
	margin-top:30px;
}

.rightBar {
	float:Right;
	margin-top:10px;
	text-align:right;
	margin-bottom:20px;	
}

.rightBar h2{ font-family:"Franchise", san-serif; margin-bottom:10px; font-size:26px; width:300px;}
.rightBar h3 {border:none}
	


/* ======== Navigation Information ========= */

.navAbout {	width:140px; background:url(../images/navigation/about.png) top left no-repeat;}
	.navAbout:hover, .navAbout.picked { background-position:-133px 0;	}

.navProjects { width:179px; background:url(../images/navigation/projects.png) no-repeat; background-position:-6px 0;}
	.navProjects:hover, .navProjects.picked { background-position:-189px 0px;}

.navCurrent { width:168px; background:url(../images/navigation/current.png) no-repeat;}
	.navCurrent:hover, .navCurrent.picked { background-position:-159px 0px;}
	
.navTest {width:120px; background:url(../images/navigation/test.png) no-repeat;}
	.navTest:hover, .navTest.picked {background-position:-119px 0px;}

.navServices {width:91px; background:url(../images/navigation/services.png) no-repeat;}
	.navServices:hover, .navServices.picked {background-position:-89px 0px;}

.navProcess {width:112px; background:url(../images/navigation/process.png) no-repeat;}
	.navProcess:hover, .navProcess.picked {background-position:-111px 0px;}

.navContact {width:110px; background:url(../images/navigation/contact.png) no-repeat;}
	.navContact:hover, .navContact.picked {background-position:-110px 0px;}
	

/* ======== Content Information ========= */

/* Home page */

.homeBlueprint {
	width:941px;
	height:569px;
	background:url(../images/home_blueprint.jpg) top center no-repeat;	
	margin-bottom:50px;
}

.homeBlueprintText {
	color:#213D1B;
	margin-left:600px;
	width:300px;
	padding-top:130px;
	font-weight:900;
}

/* Current Project */

.articleText {}
	.articleText p img {margin:10px;}

.postDate {
	background:url(../images/horizontal_border.jpg) top left repeat-x;
	text-align:right;
	padding-top:10px;
	margin-bottom:80px;
}

.currentProjectTitle { margin-bottom:50px;}

/* Compeleted Projects */

.thumbnailList {width:720px;}
.thumbnailList li{ float:left; list-style:none; margin-right:40px; margin-bottom:40px;}
	.thumbnailList li a {clear:left; font-family:'Franchise', san-serif; font-size:24px; color:#FFF; padding-bottom:5px; display:block;}
	.thumbnailList li a img {border:5px solid white;}

.projectImages  h3 {border-bottom:0px solid black; background:url(../images/horizontal_border.jpg) bottom left repeat-x; padding-bottom:5px; margin-left:-5px; padding-left:5px;}

#slider {border:5px solid white;}

.projectInfo { background:url(../images/vertical_border.jpg) top left repeat-y; padding-left:15px;}
	.projectInfo h4 {border-bottom:1px solid white; margin-left:-20px; padding-left:20px;}

.objective {margin-bottom:60px;}


/* Completed Projects Sidebar */

.categories {}
	.categories h4 {border-top:1px solid white; border-bottom:1px solid white; margin-bottom:0px;}
	.categories ul {margin-left:10px; border-left:1px solid white}
		.categories ul li {list-style:none; border-top:1px solid white; border-bottom:1px solid white; margin-top:2px;}
		.categories ul li a {font-family: 'Franchise', san-serif; font-size:26px; color:#FFF; display:block; padding:5px; line-height: 24px;}
		.categories ul li a:hover, .categories ul li a.active {background:url(../images/category_rollover.jpg) top left; color:#000; } 

.moreProjects {margin-top:40px;}	
	.moreProjects h4 {border-top:1px solid white; border-bottom:1px solid white; margin-bottom:0px;}
	.moreProjects ul {margin-left:10px; border-left:1px solid white}
		.moreProjects ul li {list-style:none; border-top:1px solid white; border-bottom:1px solid white; margin-top:2px;}
		.moreProjects ul li a {font-family: 'Franchise', san-serif; font-size:26px; color:#FFF; display:block; padding:5px;}
		.moreProjects ul li a:hover {background:url(../images/category_rollover.jpg) top left; color:#000;}	

/* Testimonials */
.testimony{ background:url(../images/quotes.png) top left no-repeat; margin-bottom:50px; padding-left:80px; padding-top:20px;}
.homeOwners {text-align:right; font-size:17px; font-weight:bold;}

/* Contact US */

.contactInformation {
	font-size:14px;
	margin-left:190px;
	line-height:26px;	
}

/* ======== Sidebar/Modules Information ========= */
.newsletterSignup {margin-bottom:40px;}

.contactModule {
	text-indent:-9999px;
	background:url(../images/modules/contact.png) top left no-repeat;
	width:329px;
	height:330px;
	margin-bottom:40px;	
}
	.contactModule a { display:block; position:relative; top:220px; left: 185px; width:110px; height:40px;}
	
.featuredProject {margin-bottom:40px;}
	.featuredProject h5 {
			padding-bottom:5px; 
			border-bottom:1px solid white;
			margin-bottom:8px; 
			height:37px; 
			background:url(../images/modules/featuredProject.png) top left no-repeat; 
			text-indent:-9999px;
	}
	.featuredProject IMG {float:left; margin:0px 8px 8px 0;}
	.featuredProject p {margin-top:0;}

.currentProject {}
	.currentProject h5 {
			padding-bottom:5px; 
			border-bottom:1px solid white;
			margin-bottom:8px; 
			height:37px; 
			background:url(../images/modules/currentProject.png) top left no-repeat; 
			text-indent:-9999px;
	}
	.currentProject IMG {float:left; margin:0px 8px 8px 0;}
	.currentProject p {margin-top:0;}
	
IMG.transition {border:2px solid white; margin-bottom:40px;}

/* ======== Footer Information ========= */

.companyInformation {
	float:left;
}

.copyright {
	float:right;
	margin-right:20px;
	text-align:right;
	margin-top:20px;	
}

	.copyright .phone {font-family:'Franchise', san-serif; font-size:30px;}
	.copyright .copy {font-size:10px}