/*
CSS Document  

For: Black Ink
Date:
Created By: Zack Davis

/* ==!==================================
    
	
	
	Colors for Site: 
	
	
   =====================================*/


/* =========== Redefine ===== */

header {
	height:65px;
	padding-top:20px;
}
	header hgroup {margin-left:30px;}
	header hgroup h1 { margin:0; font-size:36px; margin-bottom:-5px; letter-spacing:-0.07em;}
	header hgroup h2 { margin:0; font-size:14px; color:#CCC; position:relative; top:-0px;}


#navigation  {
	background:#999;	
	clear:both;
	width:100%;
	
}
	#navigation ul { margin-left:15px;}
	#navigation ul li { float:left;	list-style:none;}
	#navigation ul li a {
		color:#FFF;
		font-size:18px;
		text-decoration:none;	
		display:block;
		padding:5px 20px;
	}
	
	#navigation ul li a:hover, #navigation ul li.active a {
		color:#000;
		background:#FFF;	
	}

#tabs {
	clear:both;	
	margin-top:30px;
	margin-left:30px;
	position:relative;
	height:35px;
	overflow:hidden;
}
	#tabs ul {margin:0; padding:0;}
	#tabs ul li {
		float: left;
		margin: 0 3px 0 0;
		position: relative;
		color:#FFF;
		z-index:1;
		list-style:none;
	}
	
	#tabs ul li.active {
		z-index:2000;
	}
	
	#tabs ul li a:link, #tabs ul li a:visited {
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		display: block;
		text-align: center;
		font-size: 13px;
		color: #fff;
		outline: none;
		float: left;
		background: #CCC;
		padding:10px 5px 12px 5px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		cursor:pointer;
	}
	
	#tabs ul li.active a:link, #tabs u li.active a:visited {
		color: #9902CB;
		background-color: #FFF !important;
		border-top:2px solid #444;
		border-left:2px solid #444;
		border-right:2px solid #444;
		border-bottom:2px solid #FFF;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		padding-bottom:80px !important;
	}	
	

#main {
	clear:both;
	width: 100%;
	background: #FFF;
	margin-top:-2px;
	border-top:2px solid #444;
	z-index:60;
	position:relative;
}

#content {
	margin:20px 0px 0px 30px;
	width:60%;
	float:left;
}
	#content input{ width:300px; margin-bottom:5px;}
    #content textarea {width:300px; height:150px;}
	
	#content table {width:100%;}
	#content table.listing thead {background:#9902CB; color:#FFF; font-size:13px;}
	#content table.listing thead tr td {padding:6px;}
	#content table.listing thead tr td.title a {font-size:16px; font-weight:bold;}
	
	#content table.listing tbody tr {}
	#content table.listing tbody tr td {padding:10px; border-bottom:1px solid #CCC; line-height:20px;}
	
		

#sidebar {
	float:left;
	margin:20px 0px 0px 20px;
	width:20%;
	background:#CCC;
}

#contentNavigation {

}


footer {border-top:2px solid #CCC; margin-top:30px;}
footer ul {float:right;}
footer ul li { list-style:none; float:left; margin-left:10px}

