/*
CSS Document  

For: Black Ink
Date:
Created By: Zack Davis

/* ==!==================================
    
	
	
	Colors for Site: 
	Purple: #9902CB
	Red: #CB0202
	Gray: #999
	Blue: #06e
	Black #444
	
   =====================================*/


/* =========== Redefine ===== */

header {
	height:65px;
	padding-top:20px;
}
	header hgroup {margin-left:30px;}
	header hgroup h1 { margin:0; font-size:36px; margin-bottom:-5px; letter-spacing:-0.07em;}
	header hgroup h2 { margin:0; font-size:14px; color:#CCC; position:relative; top:-0px;}


#navigation  {
	background:#444;	
	clear:both;
	width:100%;
	
}
	#navigation ul { margin-left:15px;}
	#navigation ul li { float:left;	list-style:none;}
	#navigation ul li a {
		color:#FFF;
		font-size:18px;
		text-decoration:none;	
		display:block;
		padding:5px 20px;
	}
	
	#navigation ul li a:hover, #navigation ul li.active a {
		color:#000;
		background:#FFF;	
	}

#tabs {
	clear:both;	
	margin-top:30px;
	margin-left:30px;
	position:relative;
	height:35px;
	overflow:hidden;
}
	#tabs ul {margin:0; padding:0;}
	#tabs ul li {
		float: left;
		margin: 0 3px 0 0;
		position: relative;
		color:#FFF;
		z-index:1;
		list-style:none;
	}
	
	#tabs ul li.active {
		z-index:950;
	}
	
	#tabs ul li a:link, #tabs ul li a:visited {
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		display: block;
		text-align: center;
		font-size: 13px;
		color: #fff;
		outline: none;
		float: left;
		background: #CCC;
		padding:10px 5px 12px 5px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		cursor:pointer;
	}
	
	#tabs ul li.active a:link, #tabs ul li.active a:visited {
		color: #444;
		background-color: #FFF !important;
		border-top:2px solid #444;
		border-left:2px solid #444;
		border-right:2px solid #444;
		border-bottom:2px solid #FFF;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		padding-bottom:80px !important;
	}	
	
	#tabs ul li.active {
		background-color: #FFF !important;	
	}
	

/* =============================
	Main Section
	===========================*/

section {margin-top:10px; padding-bottom:50px; border-bottom:2px solid #444;}
section:last-child {border-bottom:0px;}

#main {
	clear:both;
	width: 100%;
	background: #FFF;
	margin-top:-2px;
	border-top:2px solid #444;
	z-index:60;
	position:relative;
}



#content {
	margin:20px 0px 0px 30px;
	width:60%;
	float:left;
}

	#content label {color:#838383;}
	
	#content input{ 
		width:300px; margin-bottom:5px; border:none; background:#ECECEC; 
		
		-moz-box-shadow:inset 2px 2px 8px #999;
		-webkit-box-shadow:inset 2px 2px 8px #999;
		box-shadow:inset 2px 2px 8px #999;
	}
    #content textarea {
		width:300px; height:150px; background:#ECECEC; border:none;
		
		-moz-box-shadow:inset 2px 2px 8px #999;
		-webkit-box-shadow:inset 2px 2px 8px #999;
		box-shadow:inset 2px 2px 8px #999;
	}
	
.list {clear:both;margin-top:20px; font-family: Arial,Helvetica, san-serif}


/* Navagation  Menu Tabs */
.menuPicker {float:right;margin:-10px 0px 10px 0px; }
#radio {margin-top:-30px;}
#radio input {margin:0px; padding:0px;}
#radio label  {width:auto; font-size:12px;}



table.navigationList {width:100%; height:auto}	
table.navigationList thead {background:#444; color:#FFF; text-align:left;}
table.navigationList thead tr th {padding:5px; border-right:1px solid white;}

table.navigationList tbody tr td {border-bottom:1px solid #CCC; padding:5px 10px; vertical-align: middle}
table.navigationList tbody tr.mainNav td.title {font-weight:bold;}
table.navigationList tbody tr.subNav td.title {padding-left:20px;}

table.navigationList tbody tr td a.setDefault {font-size:20px; cursor:pointer; color:#CCC;}
table.navigationList tbody tr td a.setDefault.active {color:#CB0202; cursor:default;}

/* =============================
	Admin Tools
	===========================*/
	
	
	
.moveArrows {margin-left:-12px;}
.moveArrows li { list-style:none; margin:0px; margin-left:8px; float:left;}
.moveArrows .move {font-size:20px; color:#444}
.subNav .move {color:#999}

.quickMenu {float:right; margin:20px 0px;}
.quickMenu li a {cursor:pointer; color:#878787; margin-right:30px;}
.quickMenu li {list-style:none; font-size:16px; float:left;}
.quickMenu li span {display: inline-table; margin-right:6px; }
.quickMenu .text {line-height:22px; position:relative; top:4px;}	

.navigationList a {color:#CB0202}
.navigationList .mainNav .title  a {color:#CB0202 !important}
.published, .grid .published {font-size:20px; color:#444 !important; margin-left:10px;}
.grid tr td {padding:5px;}

.delete, .deleteGrid {font-size:20px; color:#CB0202;  margin-left:15px; background-color:#FFF !imporant;}
.delete:hover, .deleteGrid  {color:#731115}
#navigation.delete {background:none; color:#444}


/* =============================
	Forms
	===========================*/

.twoDropDowns {clear:both}
.twoDropDowns  p{ float:left; margin-right:10px;}

.mainNav .title a {color:#444;}
.subNav .title a {color:#444;}

#dialog .gridContainer {position:relative; top:-40px;}
#dialog .grid tr td {text-align:left;}




/* =============================
	JQUERY UI/Ninja UI
	===========================*/




/* =============================
	Side Bar
	===========================*/

	
	
#sidebar {
	float:left;
	margin:20px 0px 0px 20px;
	width:20%;
	background:#CCC;
}

#contentNavigation {

}


footer {border-top:2px solid #CCC; margin-top:30px;}
footer ul {float:right;}
footer ul li { list-style:none; float:left; margin-left:10px}

/* =============================
	Buttons and Forms
	===========================*/


button {
	font-size: 14px;
	color: #ffffff;
	padding: 5px 8px;
	
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #134201;
	
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 1px 0px rgba(255,255,255,0.3);
}

 
 button:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -ms-box-shadow: inset 0 0 1px 1px #eaeaea;
    -o-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
	
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
	
    color: #FFF;
    cursor: pointer; 
 }
 
 button:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -ms-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -o-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
 }
 
 button.disabled {
	color:#C4C4C4;
	cursor:default;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	box-shadow:none;
 }


/* =============================
	Modal Bar and Errors
	===========================*/
 	
.modal {
	width:400px;
	position:absolute;
	background:#FFF;
	text-align:center;
	z-index:9999;
	display:none;
	border:1px solid black;
	padding:20px;
	text-align:center;
	-webkit-box-shadow: rgba(255,255,255,0.8) 0px 0px 250px;
   -moz-box-shadow: rgba(255,255,255,0.8) 0px  0px 250px;
   box-shadow: rgba(255,255,255,0.8) 0px 0px 250px;
   font-family: Helvetica, Arial, Sans-Serif;
   
}

.modal .close {
	font-family: 'Ninja Symbols';
    cursor:pointer;
	font-size:30px;
	background-color:#FFF;
	height:30px;
	width:30px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	position:relative;
	left:220px;
	top:-35px;
	color:#444;
}

.modal .html {padding:0px; margin:0px; border:1px solid yellow;}

.modal .close:before{content: '*';}
.modal .close:hover {color:#CB0202}
.modal .text {font-size:14px; font-weight:bold; margin-bottom:50px;}

.modal .text ul {margin:0px; padding:0px; }
.modal .text ul li {list-style:none; margin:0px !important; width:100%; }



#mask {background-color:#444; z-index:999; position:absolute; top:0px left:0px;}

.error.modal {background:#CB0202; color:#FFF;}

.error .button {
   margin:auto;
   width:90px;
   border-top: 1px solid #f5f5f5;
   background: #b0adb0;
   background: -webkit-gradient(linear, left top, left bottom, from(#c9cccf), to(#b0adb0));
   background: -webkit-linear-gradient(top, #c9cccf, #b0adb0);
   background: -moz-linear-gradient(top, #c9cccf, #b0adb0);
   background: -ms-linear-gradient(top, #c9cccf, #b0adb0);
   background: -o-linear-gradient(top, #c9cccf, #b0adb0);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.error .button:hover {border-top-color: #404040; background: #404040; color: #ccc;}
.error .button:active {border-top-color: #242424; background: #242424;}

.message.modal {color:#444;}
.message {position:absoulte; top:0px; left:0px; width:100%; background:#99CFA4; text-align:left;}
.message .text {margin:0px; padding:0px;}
.message .close {display:none;}

input.hasError {background:#CB0202 !important; color:#FFF !important;}
.validationError {color:#CB0202; margin-left:10px;}


/* =============================
	Login
	===========================*/

.login {width:100%; height:220000px; background:#CCC; border-bottom:0px; margin:auto;}
.login header hgroup {margin:auto;}
.login header hgroup h2 {color:#444;}


.login div {margin-top:100px;  width:60%;  margin:auto;}
.login div form {background:#FFF; width:60%; padding:20px; border-radius:5px 5px 5px 5px; box-shadow: 5px 5px 20px #999;}
.login nav {margin-top:20px;}
.login div form legend {display:none;}