/*
CSS Document  

For: Black Ink
Date:
Created By: Zack Davis

/* ==!==================================
    
	
	
	Colors for Site: 
	Purple: #9902CB
	Red: #CB0202
	Gray: #999
	Blue: #06e
	Black #444
	
   =====================================*/


/* =========== Redefine ===== */

header {
	height:65px;
	padding-top:20px;
}
	header hgroup {margin-left:30px;}
	header hgroup h1 { margin:0; font-size:36px; margin-bottom:-5px; letter-spacing:-0.07em;}
	header hgroup h2 { margin:0; font-size:14px; color:#CCC; position:relative; top:-0px;}


#navigation  {
	background:#444;	
	clear:both;
	width:100%;
	
}
	#navigation ul { margin-left:15px;}
	#navigation ul li { float:left;	list-style:none;}
	#navigation ul li a {
		color:#FFF;
		font-size:18px;
		text-decoration:none;	
		display:block;
		padding:5px 20px;
	}
	
	#navigation ul li a:hover, #navigation ul li.active a {
		color:#000;
		background:white;	
	}

#tabs {
	clear:both;	
	margin-top:30px;
	margin-left:30px;
	position:relative;
	height:35px;
	overflow:hidden;
}
	#tabs ul {margin:0; padding:0;}
	#tabs ul li {
		float: left;
		margin: 0 3px 0 0;
		position: relative;
		color:#FFF;
		z-index:1;
		list-style:none;
	}
	
	#tabs ul li.active {
		z-index:950;
	}
	
	#tabs ul li a:link, #tabs ul li a:visited {
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		display: block;
		text-align: center;
		font-size: 13px;
		color: #fff;
		outline: none;
		float: left;
		background: #CCC;
		padding:10px 5px 12px 5px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		cursor:pointer;
	}
	
	#tabs ul li.active a:link, #tabs ul li.active a:visited {
		color: #444;
		background-color: #FFF !important;
		border-top:2px solid #444;
		border-left:2px solid #444;
		border-right:2px solid #444;
		border-bottom:2px solid #FFF;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		padding-bottom:80px !important;
	}	
	
	#tabs ul li.active {
		background-color: #FFF !important;	
	}
	

/* =============================
	Main Section
	===========================*/

section {margin-top:10px; padding-bottom:50px; border-bottom:2px solid #444;}
section:last-child {border-bottom:0px;}

#main {
	clear:both;
	width: 100%;
	background: #FFF;
	margin-top:-2px;
	border-top:2px solid #444;
	z-index:60;
	position:relative;
}



#content {
	margin:20px 0px 0px 30px;
	width:60%;
	float:left;
}

	#content label {color:#838383;}
	
	#content input{ 
		width:300px; margin-bottom:5px; border:none; background:#ECECEC; 
		
		-moz-box-shadow:inset 2px 2px 8px #999;
		-webkit-box-shadow:inset 2px 2px 8px #999;
		box-shadow:inset 2px 2px 8px #999;
	}
    #content textarea {
		 background:#ECECEC; border:none;
		
		-moz-box-shadow:inset 2px 2px 8px #999;
		-webkit-box-shadow:inset 2px 2px 8px #999;
		box-shadow:inset 2px 2px 8px #999;
	}
	
.list {clear:both;margin-top:20px; font-family: Arial,Helvetica, san-serif}


/* Navagation  Menu Tabs */
.menuPicker {float:right;margin:-10px 0px 10px 0px; }
#radio {margin-top:-30px;}
#radio input {margin:0px; padding:0px;}
#radio label  {width:auto; font-size:12px;}



table.navigationList {width:100%; height:auto}	
table.navigationList thead {background:#444; color:#FFF; text-align:left;}
table.navigationList thead tr th {padding:5px; border-right:1px solid white;}

table.navigationList tbody tr td {border-bottom:1px solid #CCC; padding:5px 10px; vertical-align: middle}
table.navigationList tbody tr.mainNav td.title {font-weight:bold;}
table.navigationList tbody tr.subNav td.title {padding-left:20px;}

table.navigationList tbody tr td a.setDefault {font-size:20px; cursor:pointer; color:#CCC;}
table.navigationList tbody tr td a.setDefault.active {color:#CB0202; cursor:default;}

/* =============================
	Admin Tools
	===========================*/
	
	
	
.moveArrows {margin-left:-12px;}
.moveArrows li { list-style:none; margin:0px; margin-left:8px; float:left;}
.moveArrows .move {font-size:20px; color:#444}
.subNav .move {color:#999}

.menuSelect {float:right;}
.menuSelect ul li {float:left; margin-right:2px; color:#FFF; background:#999; padding:5px 10px; cursor:pointer; font-size:14px;}
.menuSelect ul li.active {background:#CCC; color:#000;}


.quickMenu {float:right; margin:20px 0px;}
.quickMenu li a {cursor:pointer; color:#878787; margin-right:30px;}
.quickMenu li {list-style:none; font-size:16px; float:left;}
.quickMenu li span {display: inline-table; margin-right:6px; }
.quickMenu .text {line-height:22px; position:relative; top:4px;}	

.navigationList a {color:#CB0202}
.navigationList .mainNav .title  a {color:#CB0202 !important}
.published, .grid .published {font-size:20px; color:#444 !important; margin-left:10px;}
.grid tr td {padding:5px;}

.delete, .deleteGrid {font-size:20px; color:#CB0202;  margin-left:15px; background-color:#FFF !important;}
.delete:hover, .deleteGrid  {color:#731115}
#navigation.delete {background:none; color:#444}

.extensionsList {margin:0;}
.extensionsList li{list-style:none; float:left; margin-left:0px; margin-right:10px; font-weight:bold; font-size:16px;}
.uploadButton {clear:both; margin-top:80px;}

.phoneButtons {float:left; position:absolute; margin-left:10px; margin-top:4px; display:inline-block;}
.phoneSelect {margin-right:8px;}
.listPhones {margin:0px; padding:0px;}
.listPhones li {line-height:26px; list-style:none; margin-left:0px;}

.deletePhones {float:left; margin-left:300px; margin-top:-20px; width:300px; cursor:pointer;}
.deletePhones .ninjaSymbol {margin-right:5px;display:inline-block; float:left;}
.deletePhones .text {margin-top:0px; display:block; float:left;}
#deletePhone {color:#CB0202; font-size:12px;  position:relative;}
#deleteCompass { color:#CB0202; font-size:12px; margin-right:10px; margin-top:-5px}

	
.grid tbody tr td a.supplementStar {font-size:16px; cursor:pointer; color:#CCC; margin-left:20px;}
.grid tbody tr td a.supplementStar.active {color:#CB0202; cursor:default;}



/* =============================
	Forms
	===========================*/

.twoDropDowns {clear:both}
.twoDropDowns  p{ float:left; margin-right:10px;}

.mainNav .title a {color:#444;}
.subNav .title a {color:#444;}


.grid .moveArrows {position:relative; left:-15px; margin-top:-8px;}
.gridSearch input  {color:#000;}

.placeholder {color: #aaa;}

.uploadImageContent {position:absolute; margin-top:-5px; display:block;  text-align:right; width:600px;}
.uploadImageContent .text {display:inline-block; position:relative; top:3px;}

/* =============================
	JQUERY UI/Ninja UI
	===========================*/




/* =============================
	Side Bar
	===========================*/

	
	
#sidebar { float:left; margin:20px 0px 0px 20px; width:20%; background:#E5E5E5; }
	#sidebar h4 {margin:0; padding:10px; border:none; background:#666; color:#FFF;}
	#sidebar p {margin:20px;}



footer {border-top:2px solid #CCC; margin-top:30px;}
footer ul {float:right;}
footer ul li { list-style:none; float:left; margin-left:10px}

/* =============================
	Buttons and Forms
	===========================*/


button {
	font-size: 14px;
	color: #ffffff;
	padding: 5px 8px;
	
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #134201;
	
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 1px 0px rgba(255,255,255,0.3);
}

 
 button:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -ms-box-shadow: inset 0 0 1px 1px #eaeaea;
    -o-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
	
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
	
    color: #FFF;
    cursor: pointer; 
 }
 
 button:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -ms-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -o-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
 }
 
 button.disabled {
	color:#C4C4C4;
	cursor:default;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	box-shadow:none;
 }




input.hasError {background:#CB0202 !important; color:#FFF !important;}
.validationError {color:#CB0202; margin-left:10px;}
input, textarea {
		padding:5px; 
		font-size:13px;
		border:none;
		background:#EEE;
		box-shadow: inset 1px 1px 6px #999; 
}

.dashboardPanel {background:#E5E5E5; width:40%; margin:10px 20px 10px 0px; float:left; padding:0px; box-shadow:0px 0px 5px #999;}
	.dashboardPanel h4 {margin:0; padding:10px; border:none; background:#666; color:#FFF;}
	.dashboardPanel p {margin:20px;}
	.dashboardPanel ul {margin:10px 0; padding:0; }
	.dashboardPanel ul li {list-style:none; line-height:26px; padding:0 0 0 20px; margin:0;}
	.dashboardPanel ul li:hover {background:#000; }
	.dashboardPanel ul li:hover a {color:#FFF;}



/* =============================
	Login
	===========================*/

.login {width:100%; border-bottom:0px; margin:auto;}
.login header hgroup {margin:auto;}
.login header hgroup h2 {color:#444;}


.login div {margin-top:100px;  width:60%;  margin:auto;}
.login div form {background:#CCC; width:60%; padding:20px; border-radius:5px 5px 5px 5px; box-shadow: 5px 5px 20px #999;}
.login div form input {box-shadow:inset 2px 2px 10px #CCC;}
.login nav {margin-top:20px;}
.login div form legend {display:none;}





/* =============================
	Footer
	===========================*/

.bottomNav {margin-right:30px;}